<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <h1 style= "color: rgb(69, 172, 43) " class="title">Edit Information</h1>
        <form class="form" action="/denver/<%=denver.id%>?_method=PUT" method="POST">
            NAME: <input type="text" name="name" value="<%=denver.name; %>"/><br/>
            ADDRESS: <input type="text" name="address" value="<%=denver.address; %>"/><br/>
            HOURS: <input type="text" name="hours" value="<%=denver.hours; %> "/><br/>
            DAILY RATE: <input type="text" name="daily" value="<%=denver.daily; %> "/><br/>
            MARK IF MONTHLY RATE IS AVAILABLE: <input type="checkbox" name="monthly"
            <% if(denver.monthly === true){ %>
                checked
            <% } %>
            />
            <br>
            <input type="url" name="imageUrl" value="img src=<%= denver.imageUrl %>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    <%- include("../partials/footer") %>
    </body>
</html>