<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <a href="/">HOME PAGE</a>
            <a href="/denver/new">NEW DENVER LOCATION</a>
        </nav>
        <h1>Denver Spots</h1>
        <ul>
            <% for(let i = 0; i < denvers.length; i++){ %>
                <li>
                    NAME: <a href="/denver/<%=denvers[i].id; %>"><%=denvers[i].name; %></a> 
                    ADDRESS: <%=denvers[i].address; %>
                    HOURS: <%=denvers[i].hours; %> 
                    DAILY RATE: <%=denvers[i].daily; %> 
                    <% if(denvers[i].monthly === true){ %>
                        This location has a monthly rate option.
                    <% } else { %>
                        This location does not have a monthly rate option.
                    <% } %>
                    <% for (denver of denvers) { %>
                    <img src="<%= denver.imageUrl %>">
                    <% } %>
                </li>
            <% } %>
        </ul>
    </body>
</html>