<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <nav>
            <a href="/newyork/new">ADD NEW YORK CITY LOCATION</a>
        </nav>
        <h1 style= "color: rgb(69, 172, 43) " class="title">NEW YORK CITY SPOTS</h1>
        <ul>
            <% for(let i = 0; i < newyorks.length; i++){ %>
                <li>
                    <br>
                    NAME: <a href="/newyork/<%=newyorks[i].id; %>"><%=newyorks[i].name; %></a> 
                    <br>
                    ADDRESS: <%=newyorks[i].address; %>
                    <br>
                    HOURS: <%=newyorks[i].hours; %> 
                    <br>
                    DAILY RATE: <%=newyorks[i].daily; %> 
                    <br>
                    <% if(newyorks[i].monthly === true){ %>
                        This location has a monthly rate option.
                    <% } else { %>
                        This location does not have a monthly rate option.
                    <% } %>
                    <br>
                    <img src="<%= newyorks[i].imageUrl %>">
                    <form action="/newyork/<%=newyorks[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                    <a href="/newyork/<%=newyorks[i].id; %>/edit">Edit</a>
                </li>
            <% } %>
        </ul>
    </body>
</html>