<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <title></title>
    </head>
    <body>
        <nav>
            <a href="/">HOME PAGE</a>
            <a href="/newyork/new">NEW NEW YORK LOCATION</a>
        </nav>
        <h1>New York Spots</h1>
        <ul>
            <% for(let i = 0; i < newyorks.length; i++){ %>
                <li>
                    NAME: <a href="/newyork/<%=newyorks[i].id; %>"><%=newyorks[i].name; %></a> 
                    ADDRESS: <%=newyorks[i].address; %>
                    HOURS: <%=newyorks[i].hours; %> 
                    DAILY RATE: <%=newyorks[i].daily; %> 
                    <% if(newyorks[i].monthly === true){ %>
                        This location has a monthly rate option.
                    <% } else { %>
                        This location does not have a monthly rate option.
                    <% } %>
                    <img src="<%= newyorks[i].imageUrl %>">
                    <form action="/newyork/<%=newyorks[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                    <a href="/newyork/<%=newyorks[i].id; %>/edit">Edit</a>
                </li>
            <% } %>
        </ul>
    </body>
</html>