<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> New York show page</h1>
        NAME: <%=newyork.name; %>
        ADDRESS: <%=newyork.address; %>
        HOURS: <%=newyork.hours; %> 
        DAILY RATE: <%=newyork.daily; %> 
        <% if(newyork.monthly === true){ %>
            This location has a monthly rate option.
        <% } else { %>
            This location does not have a monthly rate option.
        <% } %>
        <img src="<%= newyork.imageUrl %>">
        <nav>
            <a href="/newyork">Back to New York Locations</a>
            <a href="/newyork/:id/reviews/new">Leave a Review</a>
            <a href="/newyork/:id/reviews">See Reviews</a>
        </nav>
    </body>
</html>