<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Information</h1>
        <form action="/austin/<%=austin.id%>?_method=PUT" method="POST">
            NAME: <input type="text" name="name" value="<%=austin.name; %>"/><br/>
            ADDRESS: <input type="text" name="address" value="<%=austin.address; %>"/><br/>
            HOURS: <input type="text" name="hours" value="<%=austin.hours; %> "/><br/>
            DAILY RATE: <input type="text" name="daily" value="<%=austin.daily; %> "/><br/>
            MARK IF MONTHLY RATE IS AVAILABLE: <input type="checkbox" name="monthly"
            <% if(austin.monthly === true){ %>
                checked
            <% } %>
            />
            <br>
            <input type="url" name="imageUrl" value="img src=<%= austin.imageUrl %>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>