<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <nav>
            <a href="/austin/new">NEW AUSTIN LOCATION</a>
        </nav>
        <h1 style="color:yellowgreen" class="title is-2" >Austin Spots</h1>
        <ul>
            <% for(let i = 0; i < austins.length; i++){ %>
                <li>
                    <br>
                    NAME: <a href="/austin/<%=austins[i].id; %>"><%=austins[i].name; %></a> 
                    <br>
                    ADDRESS: <%=austins[i].address; %>
                    <br>
                    HOURS: <%=austins[i].hours; %> 
                    <br>
                    DAILY RATE: <%=austins[i].daily; %> 
                    <% if(austins[i].monthly === true){ %>
                        This location has a monthly rate option.
                    <% } else { %>
                        This location does not have a monthly rate option.
                    <% } %>
                    <br>
                    <img src="<%= austins[i].imageUrl %>">
                    <form action="/austin/<%=austins[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                    <a href="/austin/<%=austins[i].id; %>/edit">Edit</a>
                </li>
            <% } %>
        </ul>
    </body>
</html>