<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <h1 style="color:yellowgreen" class="title is-2"> AUSTIN SPOT</h1>
        <br>
        NAME: <%=austin.name; %>
        <br>
        ADDRESS: <%=austin.address; %>
        <br>
        HOURS: <%=austin.hours; %> 
        <br>
        DAILY RATE: <%=austin.daily; %> 
        <br>
        <% if(austin.monthly === true){ %>
            This location has a monthly rate option.
        <% } else { %>
            This location does not have a monthly rate option.
        <% } %>
        <br>
        <img src="<%= austin.imageUrl %>">
        <nav>
            <a href="/austin">Back to Austin Locations</a> |
            <a href="/wip">Leave a Review</a> |
            <a href="/wip">See Reviews</a>
        </nav>
    </body>
</html>